{% extends 'store/base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<h1 class="mt-4">Products</h1>
<ul class="list-group">
    {% for product in products %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ product.name }} - ${{ product.price }} - Stock: {{ product.stock }}
        <div>
            <a href="{% url 'buy_product' product.id %}" class="btn btn-primary mr-2">Buy</a>
            <a href="{% url 'update_product' product.id %}" class="btn btn-secondary">Update</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
